doctype html
head
	title EC Audiovisual Service 
	meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
	meta(http-equiv='Content-Language', content=sitelang)
	meta(name='reference', content='AUDIOVISUAL SERVICES')
	meta(name='creator', content='COMM/DG/UNIT')
	meta(property='fb:app_id', content='1694014114238395')
	meta(property='og:url', content=url)
	meta(property='og:site_name', content='ec.europa.eu')
	meta(property=proptitre content=montitre)
	meta(property='og:description', content=description)
	meta(property='og:type', content='article')
	meta(property='og:locale', content=sitelang)
	meta(property='og:image', content=image.url)
	meta(property='og:type', content='video.other')
	meta(name='twitter:card', content='player')
	meta(name='twitter:title', content=montitre)
	meta(name='twitter:description', content=description)
	meta(name='twitter:image', content=image.url)
	meta(name='twitter:image:alt', content=montitre)
	meta(name='twitter:player' content=url)
	meta(name='twitter:player:width' content='320')
	meta(name='twitter:player:height' content='190')           
body
